:root {
    --main-color: #5F85DB;
    --secondary-color: #78CC6D;
    --text-color: #F6F4F0;
    --bg-color: #222222;
    --body-bg-color: #2d2d33;
    --border-color: #303030;
    --gradient-start: rgb(26, 26, 26);
    --gradient-end: #0c0c0c;
    --bg-gradient-start: #2d2f31;
    --bg-gradient-end: #272a2e;
}

/* light mode color */
:root.light-mode {
    --main-color: #5F85DB;
    --secondary-color: #78CC6D;
    --text-color: #222222;
    --bg-color: #ebebeb;
    --body-bg-color: #dadada;
    --border-color: #e0e0e0;
    --gradient-start: rgb(255, 255, 255);
    --gradient-end: #ececec;
    --bg-gradient-start: rgba(235, 235, 235);
    --bg-gradient-end: #dbdbdb;
}